<div *ngIf="report">
  <div *ngFor="let question of report.questions">
    <h2>{{question.title}}</h2>
    <div>
      <input *ngIf="question.input.type == 'input'" [type]="question.input.properties.type" [(ngModel)]="question.value" />

      <select *ngIf="question.input.type == 'select'" [(ngModel)]="question.value">
          <option *ngFor="let option of question.input.properties.options" [value]="option">{{option}}</option>
      </select>

      <div *ngIf="question.input.type == 'radio'">
          <label *ngFor="let option of question.input.properties.options" [for]="option">
            {{option}}
            <input type="radio" [name]="question.id" [id]="option" [value]="option" [(ngModel)]="question.value">
          </label>
      </div>
    </div>
    <hr>
    {{question | json}}
    <hr>
  </div>
</div>
